table {
    font-size: 0.8em;
}

.activity-controls {
    padding: 20px 0;
    margin-bottom: 10px;
    margin-top: -13px;
}

.badge-list td {
    text-align: center;
}

.badge-list tr {
    border: 0px;
    line-height: 90px;
}

.badge-list img {
    margin: 5px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.badge-list img:hover {
    margin-top: -15px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    -moz-box-shadow: 0 10px 5px 0px #CCC;
    -webkit-box-shadow: 0 10px 5px 0px #CCC;
    box-shadow: 0 10px 5px 0px #CCC;
}

.sheet_parent {
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2),
        inset 0 0 50px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2),
        inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2),
        inset 0 0 50px rgba(0, 0, 0, 0.1);
    width: 1080px;
    background-color: white;
}

.sheet {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

.sheet:before, .sheet:after {
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 18px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.sheet:after {
    left: auto;
    right: 12px;
    transform: skew(5deg) rotate(5deg);
}

#foo {
    font-weight: bold;
    font-size: 1.6em;
}

.event {
    border: 1px outset #000;
    padding: 4px;
    margin: 2px 0px;
    line-height: 20px;
    color: #CCC;
    background: #000;
}

.event a, .event a:visited {
    color: #868686;
}

.event a:hover { text-decoration: underline; }

.PushEvent, .DownloadEvent {
    color: green;
    background: #C9FFC1;
}

.PushEvent a, .DownloadEvent a,
.PushEvent a:visited, .DownloadEvent a:visited {
    color: #006700;
}

.IssuesEvent {
    color: purple;
    background: #FFBAF9;
}

.IssuesEvent a, .IssuesEvent a:visited { color: #5B0067; }

.IssueCommentEvent, .CommitCommentEvent, .GollumEvent,
.PullRequestReviewCommentEvent {
    color: orange;
    background: #FFDDBD;
}

.IssueCommentEvent a, .CommitCommentEvent a, .GollumEvent a,
.PullRequestReviewCommentEvent a,
.IssueCommentEvent a:visited, .CommitCommentEvent a:visited,
.GollumEvent a:visited, .PullRequestReviewCommentEvent a:visited {
    color: #636700;
}

.CreateEvent, .GistEvent, .PullRequestEvent, .ForkEvent, .ForkApplyEvent,
.PublicEvent {
    color: blue;
    background: #C2C9FF;
}

.CreateEvent a, .GistEvent a, .PullRequestEvent a, .ForkEvent a,
.ForkApplyEvent a, .PublicEvent a,
.CreateEvent a:visited, .GistEvent a:visited, .PullRequestEvent a:visited,
.ForkEvent a:visited, .ForkApplyEvent a:visited, .PublicEvent a:visited {
    color: #001467;
}

.DeleteEvent {
    color: red;
    background: #FFC0C0;
}

.DeleteEvent a, .DeleteEvent a:visited { color: #670000; }

.WatchEvent, .FollowEvent, .MemberEvent, .TeamAddEvent {
    color: #4A4A4A;
    background: #E3E3E3;
}

.WatchEvent a, .FollowEvent a, .MemberEvent a, .TeamAddEvent a,
.WatchEvent a:visited, .FollowEvent a:visited, .MemberEvent a:visited,
.TeamAddEvent a:visited {
    color: #000;
}

#user-bio {
    list-style-type: none;
}

.badge-list {
    font-size: 0.8em;
}

.badge-list img {
    height: 75px;
}
