table {
    font-size: 0.8em;
}

.activity-controls {
    margin-bottom: 10px;
    margin-top: -13px;
}

.badge-list td {
    text-align: center;
}

.badge-list tr {
    border: 0px;
    line-height: 90px;
}

.badge-list img {
    margin: 5px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.badge-list img:hover {
    margin-top: -15px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    -moz-box-shadow: 0 10px 5px 0px #CCC;
    -webkit-box-shadow: 0 10px 5px 0px #CCC;
    box-shadow: 0 10px 5px 0px #CCC;
}

.sheet_parent {
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2),
        inset 0 0 50px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2),
        inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2),
        inset 0 0 50px rgba(0, 0, 0, 0.1);
    width: 1080px;
    background-color: white;
}

.sheet {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

.sheet:before, .sheet:after {
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 18px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.sheet:after {
    left: auto;
    right: 12px;
    transform: skew(5deg) rotate(5deg);
}

#foo {
    font-size: 1.6em;
}

ul#recent-activity {
    font-size: 10px;
}

li.event {
    border: 1px outset #000;
    padding: 4px;
    margin: 2px 0px;
    line-height: 20px;
}

li.event a:hover { text-decoration: underline; }

li.push-event {
    color: green;
    background: #C9FFC1;
}

li.push-event a, li.push-event a:visited { color: #006700; }

li.issues-event {
    color: purple;
    background: #FFBAF9;
}

li.issues-event a, li.issues-event a:visited { color: #5B0067; }

li.comment-event {
    color: orange;
    background: #FFDDBD;
}

li.comment-event a, li.comment-event a:visited { color: #636700; }

li.create-event {
    color: blue;
    background: #C2C9FF;
}

li.create-event a, li.create-event a:visited { color: #001467; }

li.delete-event {
    color: red;
    background: #FFC0C0;
}

li.delete-event a, li.delete-event a:visited { color: #670000; }

li.social-event {
    color: #4A4A4A;
    background: #E3E3E3;
}

li.social-event a, li.social-event a:visited { color: #000; }

li.other-event {
    color: #CCC;
    background: #000;
}

li.other-event a, li.other-event a:visited { color: #868686; }

#user-bio {
    list-style-type: none;
}

.badge-list {
    font-size: 0.8em;
}

.badge-list img {
    height: 75px;
}
