@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

/* Reset */
html {
    margin: 0px;
    padding: 0px;
}

body {
	font-family: 'Press Start 2p';
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul,
pre, table, address, fieldset, figure {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding: 4px;
}

h1 {
    color: #FFF;
    background: #000;
    margin-top: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

table {
    width: 100%;
}

p, table {
    line-height: 200%;
    font-size: 10px;
}

td {
    padding: 4px;
    vertical-align: middle;
}

tr {
    border-bottom: 1px dotted #000;
}

progress {
    width: 100%;
}

progress::-webkit-progress-bar-value,
progress::-webkit-progress-value,
progress::-moz-progress-bar {
    /* Zippo! */
}

.activity-controls {
    margin-bottom: 10px;
    margin-top: -13px;
}

.activity-controls > a {
    color: #000;
    font-size: 0.8em;
    background: #FFF;
    padding: 4px;
    border: 1px solid #000;
}

.activity-controls > a:hover {
    background: #000;
    color: #FFF;
}

#charsheet_form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000;
}

#charsheet_form > h1 {
    font-size: 20px;
    padding: 4px;
}

#charsheetform\:master\:container { color: red; }

ul#recent-activity {
    font-size: 10px;
}

li.event {
    border: 1px outset #000;
    padding: 4px;
    margin: 2px 0px;
    line-height: 20px;
}

li.event a:hover { text-decoration: underline; }

li.push-event {
    color: green;
    background: #C9FFC1;
}

li.push-event a, a:visited { color: #006700; }

li.issues-event {
    color: purple;
    background: #FFBAF9;
}

li.issues-event a, a:visited { color: #5B0067; }

li.comment-event {
    color: orange;
    background: #FFDDBD;
}

li.comment-event a, a:visited { color: #636700; }

li.create-event {
    color: blue;
    background: #C2C9FF;
}

li.create-event a, a:visited { color: #001467; }

li.delete-event {
    color: red;
    background: #FFC0C0;
}

li.delete-event a, a:visited { color: #670000; }

li.social-event {
    color: #4A4A4A;
    background: #E3E3E3;
}

li.social-event a, a:visited { color: #000; }

li.other-event {
    color: #CCC;
    background: #000;
}

li.other-event a, a:visited { color: #868686; }

/* There is something absolutely ridiculous going on with the CSS that I
 * can't figure out. This control somehow decides the color of the link
 * in the "more" and "less" GitHub activity buttons, but does not control
 * the blog link at all. Obviously have to fix this.
 */
a:visited {
    color: #000;
}

input#submit {
    float: right;
    margin-top: 20px;
    background: #FFF;
    color: #000;
    border: 2px solid #000;
}

input#submit:hover {
    background: #000;
    color: #FFF;
}

.alert {
    font-size: 12px;
    width: 500px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin-left: auto;
    margin-right: auto;
}

.alert-heading {
    font-size: 20px;
}

.alert-error {
    color: red;
}

.alert-success {
    color: green;
}

#user-bio {
    list-style-type: none;
}

.avatar {
    border: 2px solid #000;
    float: left;
    margin-right: 4px;
}

img.avatar {
    height: 40px;
}

.widget {
    text-align: center;
}

.badge-list {
    font-size: 0.8em;
}

.badge-list img {
    height: 75px;
}
