@font-face {
    font-family: "Press Start 2P";
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P'), local('PressStart2P-Regular'), url("../fonts/PressStart2P.woff") format('woff');
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans-Regular'), url("../fonts/OpenSans-Regular.woff") format('woff');
}

/* Reset */
html {
    margin: 10px;
    padding: 0px;
}


body {
    font-family: 'Open Sans';
}

h1 {
    font-size: 40px;
}

h1, h2, h3 {
    font-family: 'Press Start 2P';
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul,
pre, table, address, fieldset, figure {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding: 4px;
}

a, a:visited {
    text-decoration: none;
    color: #0066FF;
}

p {
    font-size: 16px;
}

table {
    width: 100%;
    line-height: 200%;
}

td {
    padding: 4px;
    vertical-align: middle;
}

.one-line tr {
    white-space: nowrap;
    overflow: hidden;
}

.logo {
    vertical-align: middle;
    margin-top: -10px;
}

progress {
    width: 100%;
    border: 1px outset #000;
}

progress::-webkit-progress-bar-value,
progress::-webkit-progress-value,
progress::-moz-progress-bar {
    width: 100%
    border: 1px outset #000;
}


.footer {
    font-size: 0.6em;
    font-color: #CCC;
    text-align: center;
}

.footer img {
    padding: 4px;
}

.slideshow {
    height: 250px;
    width: 400px;
    padding: 0;
    margin: 0px auto;
}

.slideshow img {
    border: 1px outset #000;
    width: 360px;
    height: 210px;
    top: 0;
    left: 0;
}

#charsheet_form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#charsheet_form > h1 {
    font-size: 20px;
    padding: 4px;
}

#charsheetform\:master\:container { color: red; }

input#submit {
    float: right;
    margin-top: 20px;
    background: #FFF;
    color: #000;
    border: 2px outset #000;
}

input#submit:hover {
    background: #000;
    color: #FFF;
}

.alert {
    font-size: 12px;
    width: 500px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    position: fixed;
    top: 10%;
    right: 10%;
    border: 1px solid #000;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    background: #FFF;
    background-color: rgba(255, 255, 255, 0.85);
}

.alert-heading {
    font-size: 20px;
}

.alert-error {
    color: red;
}

.alert-success {
    color: green;
}

#loading {
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -100px;
}

.avatar {
    border: 2px solid #000;
    float: left;
}

.widget {
    text-align: center;
}
