@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

/* Reset */
html {
    margin: 0px;
    padding: 0px;
}

body {
	font-family: 'Press Start 2p';
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul,
pre, table, address, fieldset, figure {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    color: #FFF;
    background: #000;
}

table {
    width: 100%;
}

p, table {
    line-height: 200%;
    font-size: 10px;
}

td {
    padding: 2px 0px 2px 0px;
    vertical-align: middle;
}

progress {
    background-color: #FFF;
}

progress::-webkit-progress-bar-value,
progress::-webkit-progress-value,
progress::-moz-progress-bar {
    background-color:black
}

.alert {
    font-size: 12px;
    width: 500px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin-left: auto;
    margin-right: auto;
}

.alert-heading {
    font-size: 20px;
}

.alert-error {
    color: red;
}

.alert-success {
    color: green;
}

#user-bio {
    list-style-type: none;
}

.avatar {
    border: 2px solid #000;
    float: left;
    margin-right: 4px;
}

img.avatar {
    height: 40px;
}

.widget {
    text-align: center;
}

.badge-list {
    font-size: 0.8em;
}

.badge-list img {
    height: 75px;
}
